<div class="container">
    <div class="row">
        <div class="col-md-12 text-center m-5">
            <h2>liste des manga</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul class="list-unstyled">
            {{#each manga }}
                <li class="media"id="{{ id }}">
                    <img src="{{ image }}" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{ titlevf }}</h5>
                        {{ description }} 
                        <div class="text-right">
                           <a href="/modal/supmanga"> 
                               <i class="far fa-trash-alt"></i>
                            </a>
                            <a href="/editAdmin/{{ id }}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-plus-circle"></i>
                            </a>
                        </div>
                    </div>
                </li>
        
            {{/each  }}
        </ul>
    </div>
</div>