<!-- news article -->
<div class="container card-deck">
    <div class="row">
        {{#each manga  }}
        <div class="card col-md-3">
            <a href="/booking/{{ id }}">
                <div>
                    <img src="{{ tome.image }}" class="card-img-top" alt="TOME1">
                </div class=" img-thumbnail">
                <div class="card-body">
                    <h5 class="card-title">{{ titlevf }}</h5>
                    <p class="card-text">{{ description }}</p>
                    <p class="card-text"> {{ datedeparution }} <small class="text-muted">créer parle
                            {{ datecreate }} </small>
                    </p>
                </div>
            </a>
        </div>

        {{/each }}
    </div>
</div>
<!--/news article -->