<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class=" text-center"> {{manga1.titlevf }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-xl-4 ">

      <div>
        <img class="img-fluid" src="{{tome1.image}}" alt="">
      </div>

    </div>
    <div class="col-4 col-xl-4">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Titre VO :</strong>
          {{ manga1.titlevo }}
        </li>
        <li class="list-group-item">
          <strong>Titre traduit</strong> {{manga1.titlevf }}
        </li>
        <li class="list-group-item">
          <strong>Dessin : </strong>
          {{tome1.dessin}}
        </li>
        <li class="list-group-item"><strong>Scénario :</strong>
          {{tome1.dessin}}
        </li>
        <li class="list-group-item">
          <strong>Traducteur :</strong>
          {{tome1.Traducteur}}
        </li>

      </ul>
    </div>
    <div class="col-4 col-xl-4">
      <ul class="list-group">


        <li class="list-group-item"><strong>Type :</strong>
          {{manga1.nameType}}
        </li>
        <li class="list-group-item"><strong>Editeur VO :</strong>
          {{ tome1.EditeurVO}}
        </li>
        <li class="list-group-item"><strong>Prépublication :</strong>
          {{tome1.prepublication}}
        </li>
        <li class="list-group-item"><strong>Illustration :</strong>
          {{ tome1.illustration}}
        </li>
        <li class="list-group-item"><strong>Origine :</strong>
          {{tome1.origine}} </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class=" col-md-12 col-xl-12">
      <h3>Description</h3>
      <p class=" text-truncate">{{tome1.description}}</p>
    </div>
  </div>


</div>
</div>

</div>

</div>