<table class="table">
    <thead>
        <tr>
            <th scope="col">volume</th>
            <th scope="col">auteur du tome</th>
            <th scope="col">image du tome</th>
            <th scope="col">modifier</th>

        </tr>
    </thead>
    {{#each user}}
    {{isAdmin}}
    {{ isVerified}}
    {{ isModo}}
    {{ isBan}}
    {{ bio}}
    {{ password}}
    {{ nameP}}
    {{ nameM}}
    {{ typeUser}}
    {{ pseudo}}
    {{ datedenaissance}}
    {{email}}
    {{ mangaID}}
    {{ Tome}}
    {{imgProfil}}


    <tbody>
        <tr>
            <th scope="row">{{ volume }}</th>

            <td>pseudo:</td>

            <td><img style="width: 30px;" src="{{ image }}" alt=""></td>
            <td>
                <h2 class=" text-left  ">
                    <button class="btn" type="button">
                        <a href="/modal/supmanga">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </button>
                    <button class="btn" type="button">
                        <a href="/editAdmin/{{ _id }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </button>

                    <button class="btn" type="button">
                        <a href="">
                            <i class="fas fa-check-circle"></i>
                        </a>
                    </button>
                </h2>
            </td>
        </tr>

    </tbody>
    {{/each }}
</table>