{{!-- collapse de TOMES --}}

<div class="accordion container" id="accordionListeTomes">
    {{#each user }}
    <div class="card">



        <div class="card-header" id="headingOne">
            <div class="row">

                <div class=" col-md-2">

                    <img class="img-fluid" style="width: 50px;" src="{{ imgProfil }} " alt="">

                </div>

                <div class=" text-left col-md-6 ">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-inline p-1">{{ pseudo }}</li>
                        <li class="list-inline p-1">{{email}}</li>
                        <li class="list-inline p-1">{{typeUser}}</li>
                        <li class="list-inline p-1">{{typeUser}}</li>
                        <li class="list-inline p-1">{{isAdmin}}</li>

                    </ul>
                </div>

                <h2 class=" text-right items-center  col-md-4">
                    <button class="btn" type="button" data-toggle="collapse" data-target="#collapseTome{{ _id }}"
                        aria-expanded="false" aria-controls="collapseTome{{ _id }}">
                        <i class="fas fa-eye"></i>
                    </button>
                    <button class="btn" type="button">
                        <a href="/modal/supmanga/{{ _id }}">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </button>
                    <button class="btn" type="button">
                        <a href="/editAdmin/{{ _id }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </button>

                    {{#if ispublished }}
                    <button class="btn" type="button">
                        <a href="">
                            <i class="fas fa-check-circle"></i>
                        </a>
                    </button>
                    {{else}}
                    <button class="btn" type="button">
                        <a href="">
                            <i class="fas fa-check-circle"></i>
                        </a>
                    </button>
                    {{/if}}
                </h2>
            </div>
        </div>
        <div id="collapseTome{{ _id }}" class="collapse" aria-labelledby="headingOne{{ _id }}"
            data-parent="#accordionListeTomes">
            <div class="card-body">
                <div class="text-center">

                   
                    

                </div>
                {{> admin/LUSER-colapseListeUser/adminUser/tableUser }}

            </div>
        </div>

    </div>
    {{/each  }}
</div>
{{!-- /colapse de TOMES --}}
