<!--titre-->
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Liste Manga</h2>
        </div>
    </div>
</div>
<!--/titre-->

<!-- NEWS ARTICLE-->
<div class="container mb-5 card-deck">
    <div id="listManga" class="row">
        {{#each manga  }}
        <div class="col-md-4 filterManga">
            <a href="/booking/{{ _id }}">
                <div class="card">
                    <div class="card-img img-thumbnail">
                        {{#if image }}
                        <img src=" {{ image }} " class="card-img" alt="naruto">
                        {{else }}
                        <img src="/img/imgDefault/imgmanga.jpg " class="card-img" alt="img par default">
                        {{/if}}

                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> {{ titlevf }} </h5>
                        <p class="card-text" name="description"> {{ nameType }} </p>
                        <p class="card-text" name="date de parution"><small class="text-muted"> creer par {{ author }} ,
                                le {{ datedecreation }} </small></p>

                    </div>
                </div>
            </a>
        </div>
        {{/each }}
    </div>
</div>

<!-- /NEWS ARTICLE-->