

<!-- NEWS ARTICLE-->

<div class="container mb-5 card-deck">
    <div class="row">
        <div class="col-md-4">
            {{#each manga }}

            <a href="/manga/{{ _id }}">
                <div class="card" >
                    <div class="card-img img-thumbnail">
                        <img src="{{ image }}"
                            class="card-img-top" alt="{{ alt }}">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> {{ nameVF }} </h5>
                        <p class="card-text" name ="description"> {{ description }} </p>
                        <p class="card-text" name ="date de parution">{{ date de parution }}<small
                                class="text-muted"> creer par {{ author }} , le  {{ datedecreation }}  </small></p>
                        <p>{{ _id }}</p>
                    </div>
                </div>
            </a>

            {{/each }}
        </div>
    </div>
</div>

<!-- /NEWS ARTICLE-->