{{!-- collapse de TOMES --}}

<div class="accordion container" id="accordionListeTomes">
    {{#each manga }}
    <div class="card">
        <div class="card-header" id="headingOne">

            <div class="card-img">
                <img class="" style="width: 50px;" src="{{tome1.image}} " alt="">
            </div>

            <div class=" text-left ">
                <ul class="list-group list-group-horizontal">
                    <li class="list-inline p-1">{{ titlevf }}</li>
                    <li class="list-inline p-1">{{ titlevo }}</li>
                    <li class="list-inline p-1">{{ author }}</li>
                    <li class="list-inline p-1">{{ nameType }}</li>
                </ul>
            </div>

            <h2 class=" text-right  col-md-3">
                <button class="btn" type="button" data-toggle="collapse" data-target="#collapseTome{{ _id }}"
                    aria-expanded="false" aria-controls="collapseTome{{ _id }}">
                    <i class="fas fa-eye"></i>
                </button>
                <button class="btn" type="button">
                    <a href="/modal/supmanga/{{ _id }}">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </button>
                <button class="btn" type="button">
                    <a href="/editAdmin/{{ _id }}">
                        <i class="fas fa-edit"></i>
                    </a>
                </button>
               
                 {{#if ispublished }}
                <button class="btn" type="button">
                    <a href="">
                        <i class="fas fa-check-circle"></i>
                    </a>
                </button>
                {{else}} 
                <button class="btn" type="button">
                    <a href="">
                        <i class="fas fa-check-circle"></i>
                    </a>
                </button>
                {{/if}} 
            </h2>
        </div>
        <div id="collapseTome{{ _id }}" class="collapse" aria-labelledby="headingOne{{ _id }}"
            data-parent="#accordionListeTomes">
            <div class="card-body">
                <div class="text-center">

                    <button type="button" class=" btn btn-warning" aria-label="Close" aria-hidden="true"
                        data-toggle="modal" data-target="#newsTome">
                        <span>créer un nouveaux tome {{manga._id}} </span>
                    </button>
                    {{> modal/tome  manga=manga tome=tome}}

                </div>
                {{> admin/LM-colapseListeManga/adminTome/tableTome manga=manga tome=tome }}

            </div>
        </div>
    </div>
    {{/each  }}
</div>
{{!-- /colapse de TOMES --}}