<div class="container mb-5 pt-5 mt-5 pb-5 bg-primary">

    <div class="container">
        <div class="card m-3">
            <div class="row no-gutters">

                <div class="col-md-4 bg-dark">
                    {{#if tome.image }}

                    <img src=" {{ tome.image.}} " class="card-img" alt="naruto">

                    {{else }}
                    <img src="/img/imgDefault/imgmanga.jpg " class="card-img" alt="img par default">
                    {{/if}}
                </div>
                <div class="col-md-8 justify-content-center">
                    <div class="card-body justify-content-evenly">

                        <div class="card-text">

                            title en vf: {{manga.titlevf}}
                        </div>
                        <p class=" font-weight-bold text-lg-left">
                            {{#if tome.description }}
                            {{tome.description}}
                            {{else }}
                            <img src="/img/imgDefault/description-default.gif" alt="default description" class="card-img">
                            {{/if }}
                        </p>
                    </div>
                    
                </div>
            </div>
<div class="card-body justify-content-evenly">
                        <p class=" font-weight-bold text-lg-left">
                        <div class="card-text">

                            title en vo: {{ manga.titlevo }}
                        </div>
                        <div class="card-text">

                            date d édition: {{ manga.dateEdit }}
                        </div>
                        <div class="card-text">

                            Auteur: {{ manga.author }}
                        </div>
                        <div class="card-text">

                            type de manga: {{ manga.namesType }}
                        </div>
                        </p>
                    </div>
        </div>
    </div>