<div class=" m-3 container m-3 espace-fixed">
  <div class="row">
    <div class="col-md-12">
      <h1 class=" text-center"> {{manga.titlevf }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-xl-4 ">
      <div>
        <img class="img-fluid" src="{{manga.image}}" alt="">
      </div>
    </div>
    <div class="col-4 col-xl-4">
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Titre VO :</strong>
          {{ manga.titlevo }}
        </li>
        <li class="list-group-item">
          <strong>Titre traduit</strong> {{manga.titlevf }}
        </li>
        <li class="list-group-item"><strong>Type :</strong>
          {{manga.nameType}}
        </li>
      </ul>
    </div>
    <div class="col-4 col-xl-4">
      <ul>
        <li class="list-group-item">
          <strong>Auteur</strong> {{ manga.author}}
        </li>
        <li class="list-group-item"><strong>date d'edition :</strong>
          {{ manga.dateEdit}}
        </li>
        <li class="list-group-item"><strong> date de creation:</strong>
          {{manga.dateCreate}}
        </li>
      </ul>
    </div>
  </div>
</div>