<div class="container mb-5 pt-5 mt-5 pb-5 bg-primary">

    {{#each manga.tome }}
    <p class="card-text font-weight-bold text-lg-left">
        Volume: #{{ volume }}
    </p>
    <p class="card-text font-weight-bold text-lg-left">
        Description: #{{ description }}
    </p>
    <a href="/tome/delete/{{_id}}" class="btn bg-warning"> Delete </a>
    {{/each }}
    <select name="tome">
        <option value="">-- Choisir le tome --</option>

        {{#each tome }}
        <option value="{{ _id }}">{{ volume }} & {{ name }}</option>
        {{/each}}
    </select>

    <div class="">
        <button type="button" class="close" aria-label="Close" data-toggle="modal" data-target="#newsTome">
            <span aria-hidden="true" class=""> créer un nouveaux tome </span>
        </button>
        {{> modal/tome }}
    </div>

</div>

<div class="container bg-success">
    <form action="/editAdmin/{{manga._id}}?_method=PUT" method="post">
        <div class="row text-decoration-none">
            <ul class="col-md-4">
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">desin</label>
                    </div>
                    <div class="col-md-6">
                        <p name="dessin"> {{ manga.tome.dessin }}</p>
                    </div>
                    <input type="text" name='dessin' value="{{
                            manga.tome.dessin }}">
                </div>

                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">scenariste</label>
                    </div>
                    <div class="col-md-6">
                        <p name="scenariste"> {{ manga.tome.scenariste }}</p>
                    </div>
                    <input type="text" name='scenariste' value="{{
                           manga.tome.scenariste }}">
                </div>

                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">traducteur</label>
                    </div>
                    <div class="col-md-6">
                        <p name="titlevo"> {{ manga.tome.traducteur }}</p>
                    </div>
                    <input type="text" name='titlevo' value="{{
                            manga.tome.traducteur  }}">
                </div>

                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">editeur en vf</label>
                    </div>
                    <div class="col-md-6">
                        <p name="titlevo"> {{ manga.tome.editeurvf }}</p>
                    </div>
                    <input type="text" name='titlevo' value="{{
                            manga.tome.editeurvf  }}">
                </div>

                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">type</label>
                    </div>
                    <div class="col-md-6">
                        <p name="nameType"> {{ manga.tome.nameType }}</p>
                    </div>
                    <input type="text" name='nameType' value="{{
                            manga.tome.nameType  }}">
                </div>

                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">editeur en vo</label>
                    </div>
                    <div class="col-md-6">
                        <p name="editeurvo"> {{ manga.tome.editeurvo }}</p>
                    </div>
                    <input type="text" name='editeurvo' value="{{
                            manga.tome.editeurvo  }}">
                </div>
            </ul>
            <ul class="col-md-6">
                <div class="col-md-4">
                    <img name="img-de-manga" src="/img/NARUTOH.jpg" alt="naruto" class="card-img">
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">prépublication</label>
                    </div>
                    <div class="col-md-6">
                        <p name="prepublication"> {{ manga.tome.prepublication }}</p>
                    </div>
                    <input type="text" name='prepublication' value="{{
                            manga.tome.prepublication  }}">
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">numero du volume</label>
                    </div>
                    <div class="col-md-6">
                        <p name="volume"> {{ manga.tome.volume }}</p>
                    </div>
                    <input type="text" name='volume' value="{{
                            manga.tome.volume  }}">
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">origine</label>
                    </div>
                    <div class="col-md-6">
                        <p name="origine"> {{ manga.tome.origine }}</p>
                    </div>
                    <input type="text" name='origine' value="{{
                            manga.tome.origine  }}">
                </div>
                <div class="row m-3">
                    <div class="col-md-6">
                        <label for="">origine</label>
                    </div>
                    <div class="col-md-6">
                        <p name="titlevo"> {{ manga.tome.description }}</p>
                    </div>
                    <input type="text" name='titlevo' value="{{
                            manga.tome.origine  }}">
                </div>
            </ul>
        </div>
        <button type="submit">Valider</button>
    </form>
