<div class="container">
    <div class="row">
        <ul class="list-unstyled">
            {{#each manga.tome }}
            <li class="media">
                <img src="{{ manga.image. }}" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{ manga.titlevf }}</h5>
                    {{ description }}
                </div>
            </li>
            <li class="media my-4">
                <img src="{{ manga.image. }}" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{ manga.titlevf }}</h5>
                    {{ description }}
                </div>
            </li>
            <li class="media">
                <img src="{{ manga.image. }}" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{ manga.titlevf }}</h5>
                    {{ description }}
                </div>
            </li>
            {{/each  }}
        </ul>
    </div>
</div>